// Helpers
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";

@import "font-awesome.min.css";

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: Hurme2, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// Component.

@import
  "components/backgrounds",
  "components/fonts",
  "components/navigation",
  "components/map",
  "components/background_svg",
  "components/timetable",
  "components/sponsors";

// Layout.

@import
  "layout/grid",
  "layout/mobile";

// Pages

@import "pages/home";