// =============================================================================
// Color Variables
// =============================================================================

$black: #000000;
$gray: #D8D8D8;
$white: #FFFFFF;
$yellow: #FED85E;
$dark-gray: #363636;

// =============================================================================
// Color Variables
// =============================================================================
$standard-border: 1px solid #efefef;

// =============================================================================
// Font Variables
// =============================================================================

$h1-font: 3.5rem 'Blue Highway D';
$h2-font: 1.5rem 'Blue Highway D';
$text-font: 0.85rem AdellePE;
$navigation-font: 1rem 'Blue Highway D';
$quote-font: 1.5rem 'Blue Highway D';

// =============================================================================
// Mobile Width Variables
// =============================================================================

$mobile-width: 700px;

// =============================================================================
// Basic Color Palette
// =============================================================================

$color-palette: (
        accent1:						#0f0f0f,
        accent2:						#505050,
        accent3:						#f1f1f1,
);