html.no-svg svg {
  background: url(images/background_white.svg) no-repeat;
}
rect[class^="cls"], g[class^="cls"], line[class^="cls"] {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 20s linear reverse infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3, .cls-4, .cls-5, .cls-6, .cls-7 {
  stroke: #000;
}

.cls-10, .cls-11, .cls-12, .cls-13, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.cls-3 {
  stroke-width: 7px;
}

.cls-4 {
  stroke-width: 2px;
}

.cls-5, .cls-8 {
  stroke-width: 3px;
}

.cls-6 {
  stroke-width: 4px;
}

.cls-7 {
  stroke-width: 13px;
}

.cls-10, .cls-8, .cls-9 {
  stroke: #fed453;
}

.cls-9 {
  stroke-width: 8px;
}

.cls-10 {
  stroke-width: 5px;
}

.cls-11, .cls-12, .cls-13 {
  stroke: #fff;
}

.cls-11 {
  stroke-width: 6px;
}

.cls-12 {
  stroke-width: 15px;
}

.cls-13 {
  stroke-width: 10px;
}

.cls-14 {
  clip-path: url(#clip-path-2);
}

.cls-15 {
  clip-path: url(#clip-path-3);
}