@font-face {
  font-family: 'Blue Highway';
  src: url('../fonts/blue_highway_rg.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'Blue Highway';
  src: url('../fonts/blue_highway_bd.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Blue Highway D';
  src: url('../fonts/blue_highway_d.ttf') format('truetype');
}

@font-face {
  font-family: 'Blue Highway Condensed';
  src: url('../fonts/blue_highway_cd.ttf') format('truetype');
}