.timetable {
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  width: 100%;
  float: left;

  .event:first-of-type {
    border: {
      top: #{$standard-border};
    }
  }
  .heading {
    text-transform: uppercase;
    font: #{$h2-font};
    font-size:1.2rem;
    border: {
      bottom: #{$standard-border};
    }
  }
  .event {
    font-family: Avenir Next;
    font-size: 0.85rem;
    &:hover {
      background-color: #efefef;
    }
    a {
      font-size: 0.6rem;
      text-decoration: underline;
      padding: {
        left: 10px;
      }
      color: #{$black};
      &:visited {
        color: #{$black};
      }
      &:hover {
        color: #{$dark-gray};
      }
    }
  }
  .event, .heading{
    padding: 0;
    list-style: none;
    display: inline-flex;
    margin: 0 auto;
    width: 75%;

    li {
      float: left;
      position: relative;
      width: 50%;
      line-height: 14px;
      padding: {
        top: 10px;
        bottom: 10px;
      }

      &.left {
        text-align: right;
        border: {
          right: #{$standard-border};
        }
        padding: {
          right: 10px;
        }
      }
      &.right {
        text-align: left;
        padding: {
          left: 10px;
        }
      }
    }
  }
}